<a href="https://colab.research.google.com/github/jaskaran3141-cell/Python/blob/main/Studentrecord.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print    ("                     Biodata                ")
print( "Name:Jaskaran Singh")
print( "Fathers Name:Kulwinder Singh")
print( "D.O.B:14/07/1998")
print( "Study:Post Graduate")
print( "Hobbies:Landscaping")
print( "Skills:MS Excel")
print( "Extracurricular: Data Analytics")
print( "Language Proficiency:English,Hindi,Punjabi")
print( "Higher Education: From Panjab University")
print("Nationality:Indian")
print("Religion:Sikh")
print("Basic Elementary Education:Mohali")
print("I am the best preson in the whole if the world")

                     Biodata
Name:Jaskaran Singh
Fathers Name:Kulwinder Singh
D.O.B:14/07/1998
Study:Post Graduate
Hobbies:Landscaping
Skills:MS Excel
Extracurricular: Data Analytics
Language Proficiency:English,Hindi,Punjabi
Higher Education: From Panjab University
Nationality:Indian
Religion:Sikh
Basic Elementary Education:Mohali
I am the best preson in the whole if the world

In [ ]:
name="Jaskaran Singh"
print("name",name)
Age=12
print("Age",Age)
Region="Punjab"
print("Region",Region)
Maritalstatus="Unmarried"
print("Maritalstatus",Maritalstatus)
Primary_Education="Mohali"
print("Primary_Education",Primary_Education)
Hobbies="Landscaping,Reading_books"
print("Hobbies",Hobbies)
a=5
b=6
print("Sum is:",a+b)
print("Subtraction is:",a-b)
print("Multiplication is:",a*b)
print("Division is:",a/b)
print(f"Sum is {a+b}")
print(f"SUbtraction is {a-b}")
print (f"multiplication is {a*b}")
print(f"division is {a/b}")

name Jaskaran Singh
Age 12
Region Punjab
Maritalstatus Unmarried
Primary_Education Mohali
Hobbies Landscaping,Reading_books
Sum is: 11
Subtraction is: -1
Multiplication is: 30
Division is: 0.8333333333333334
Sum is 11
SUbtraction is -1
multiplication is 30
division is 0.8333333333333334

In [ ]:
Item_1="Cycle"
Price_Of_Item_1=10000
Item_2="Car"
Price_Of_Item_2=100000
Item_3="Truck"
Price_Of_Item_3=50000

print("Total_Expenses",Total_Expenses)
print("Price_Of_Item_1",Price_Of_Item_1)
print("Price_Of_Item_2",Price_Of_Item_2)
print("Price_Of_Item_3",Price_Of_Item_3)
Total_Expenses=Price_Of_Item_1+Price_Of_Item_2+Price_Of_Item_3
Discount_Percent=20
Discount=Total_Expenses*Discount_Percent/100
print("Discount",Discount)
Payable_Bill=Total_Expenses-Discount
print("Payable_Bill",Payable_Bill)

Total_Expenses 160000
Price_Of_Item_1 10000
Price_Of_Item_2 100000
Price_Of_Item_3 50000
Discount 32000.0
Payable_Bill 128000.0

In [ ]:
Sta1="Pencil"
Price_Of_Sta1=22
Sta2="Pen"
Price_Of_Sta2=30
Sta3="Eraser"
Price_Of_Sta3=34
print("Price_Of_Sta1",Price_Of_Sta1)
print("Price_Of_Sta2",Price_Of_Sta2)
print("Price_Of_Sta3",Price_Of_Sta3)
Total_Price=Price_Of_Sta1+Price_Of_Sta2+Price_Of_Sta3
print("Total_Price",Total_Price)
Discount_Percent=3
Total_Discount=Total_Price*3/100
print("Total_Discount",Total_Discount)
Price_Payable=Total_Price-Total_Discount
print("Price_Payable",Price_Payable)

Price_Of_Sta1 22
Price_Of_Sta2 30
Price_Of_Sta3 34
Total_Price 86
Total_Discount 2.58
Price_Payable 83.42

In [ ]:
Principal=1000
print("Principal",Principal)
Rate=4
print("Rate",Rate)
time=12
print("time",time)
Simple_Interest=Principal*Rate*time/100
print("Simple_Interest",Simple_Interest)
Principal=int(input("Enter_The_Principal_Amount"))
Rate=int(input("Enter_The_Rate"))
Time=int(input("Enter_The_Timeperiod"))
Simple_Interest=Principal*Rate*Time/100
print("Simple_Interest",Simple_Interest)
Payable_Amount=Principal+Simple_Interest
print("Payable_Amount",Payable_Amount)

Principal 1000
Rate 4
time 12
Simple_Interest 480.0
Enter_The_Principal_Amount1000
Enter_The_Rate12
Enter_The_Timeperiod2
Simple_Interest 240.0
Payable_Amount 1240.0

In [ ]:
print("                                                         Biodata                                  ")
Name=input("Enter_User_Name")
Age=int(input("Enter_User_Age"))
Marital_Status=input("Enter_Marital_Status")
Nationality=input("Enter_Nationality")
Gender=input("Enter_User_Gender")
Date_Of_Birth=int(input("Enter_Date_Of_Birth"))
Hobbies=input("Enter_Your_Hobbies")

                                                         Biodata
Enter_User_NameJaskaran_SIngh
Enter_User_Age27
Enter_Marital_StatusUnmarried
Enter_NationalityIndian
Enter_User_GenderMale
Enter_Date_Of_Birth14_07_1998
Enter_Your_HobbiesLandscaping,Reading_Books

In [ ]:
Sta1=input("Enter_Sta1_Name")
Price_Of_Sta1=int(input("Enter_Sta1_Price"))
Sta2=input("Enter_Sta2_Name")
Price_Of_Sta2=int(input("Enter_Sta2_Price"))
Sta3=input("Enter_Sta3_Name")
Price_Of_Sta3=int(input("Enter_Sta3_Price"))
Total_Price=Price_Of_Sta1+Price_Of_Sta2+Price_Of_Sta3
print("Total_Price",Total_Price)
Discount=int(input("Enter_the_Discounted_Price"))
Discount_Price=Total_Price-Discount
print("Discount_Price",Discount_Price)

Enter_Sta1_NamePen
Enter_Sta1_Price12
Enter_Sta2_NamePencil
Enter_Sta2_Price14
Enter_Sta3_NameEraser
Enter_Sta3_Price14
Total_Price 40
Enter_the_Discounted_Price12
Discount_Price 28

In [ ]:
Number=95
if Number>0:
  print("Number_is_a_Positive_Number")

elif Number<0:
  print("Number_is_a_Negative_Number")
else:
    print("Number_is_Zero")

Number=int(input("Enter_The_Value_Of_Number"))
print("Number",Number)
if Number>0:
  print("Number_Is_Positive")
else:
  print("Number_is_Negative")

Number_is_a_Positive_Number
Enter_The_Value_Of_Number23
Number 23
Number_Is_Positive

In [ ]:
Marks=78
if Marks>90:
  print("A+")
elif Marks>80:
  print("A")
elif Marks>70:
 print("B+")
elif Marks>60:
  print("B")
else:
  print("Fail")

B+

In [ ]:
 Number=40
 if Number%2==0:
  print("Number_is_Even")
 else:
  print("Number_is_odd")

Number_is_Even

In [ ]:
Number=5328650
if Number%5==0:
  print("Number_is_Divisible_By_5")
else:
  print("Number_is_Notdivisible_By_5")

Number_is_Divisible_By_5

In [ ]:
Day="Tuesday"
if Day=="Monday":
  print("Its_Weekday")
elif Day=="Tuesday":
  print("Its_Weekday")
elif Day=="Wednesday":
  print("Its_Weekday")
elif Day=="Thrusday":
  print("Its_Weekday")
elif Day=="Friday":
  print("Its_Weekday")
elif Day=="Saturday":
  print("Its_Weekend")
else:
  print("Its_Weekend")

Day=input("Enter_The_Day")
print("Day",Day)
if Day=="Monday":
  print("Its_Weekday")
elif Day=="Tuesday":
  print("Its_Weekday")
elif Day=="Wednesday":
  print("Its_Weekday")
elif Day=="Thrusday":
  print("Its_Weekday")
elif Day=="Friday":
  print("Its_Weekday")
elif Day=="Saturday":
  print("Its_Weekend")
else:
  print("Its_Weekend")

Its_Weekday
Enter_The_DaySunday
Day Sunday
Its_Weekend

In [22]:
 Day=input("Enter_The_Day")
 print("Day",Day)
 if Day=="Monday" or Day=="Tuesday" or Day=="Wednesday" or Day=="Thrusday" or Day=="Friday":
  print("Its_Weekday")
 elif Day=="Saturday" or Day=="Sunday":
    print("Its_Weekend")
 else:
    print("Invalid_Input_From_User")

CarName=input("Enter_Car_Name")
print("CarName",CarName)
if CarName=="Brezza" or CarName=="Venue" or CarName=="Gurkha":
    print("They_Are-Sub4Metre_Suvs")
elif CarName=="City" or CarName=="Corolla" or CarName=="Ciaz":
      print("They_Are_Sedan")
else:
        print("They_Are_Real_Suvs")

Enter_The_DayMonday
Day Monday
Its_Weekday
Enter_Car_NameBrezza
CarName Brezza
They_Are-Sub4Metre_Suvs

In [9]:
print("                                             Company's_Trip_To_Goa                                                          ")
Gender=input("Enter_Your_Gender")
print("Gender",Gender)
Age=int(input("Enter_Your_Age"))
print("Age",Age)
if Gender=="Male":
  print("Go_In_Hotel_A")
  if Age>=30:
    print("Go_To_The_Building1")
  else:
      print("Go_To_The_Building2")
elif Gender=="Female":
    print("Go_In_Hotel_B")
    if Age>=30:
      print("Go_To_The_Building1")
    else:
        print("Go_to_the_building2")
else:
      print("Go_Elsewhere")

                                             Company's_Trip_To_Goa
Enter_Your_Genderxyz
Gender xyz
Enter_Your_Age12
Age 12
Go_Elsewhere