<a href="https://colab.research.google.com/github/jaskaran3141-cell/Python/blob/main/Studentrecord.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print    ("                     Biodata                ")
print( "Name:Jaskaran Singh")
print( "Fathers Name:Kulwinder Singh")
print( "D.O.B:14/07/1998")
print( "Study:Post Graduate")
print( "Hobbies:Landscaping")
print( "Skills:MS Excel")
print( "Extracurricular: Data Analytics")
print( "Language Proficiency:English,Hindi,Punjabi")
print( "Higher Education: From Panjab University")
print("Nationality:Indian")
print("Religion:Sikh")
print("Basic Elementary Education:Mohali")
print("I am the best preson in the whole if the world")

                     Biodata
Name:Jaskaran Singh
Fathers Name:Kulwinder Singh
D.O.B:14/07/1998
Study:Post Graduate
Hobbies:Landscaping
Skills:MS Excel
Extracurricular: Data Analytics
Language Proficiency:English,Hindi,Punjabi
Higher Education: From Panjab University
Nationality:Indian
Religion:Sikh
Basic Elementary Education:Mohali
I am the best preson in the whole if the world

In [ ]:
name="Jaskaran Singh"
print("name",name)
Age=12
print("Age",Age)
Region="Punjab"
print("Region",Region)
Maritalstatus="Unmarried"
print("Maritalstatus",Maritalstatus)
Primary_Education="Mohali"
print("Primary_Education",Primary_Education)
Hobbies="Landscaping,Reading_books"
print("Hobbies",Hobbies)
a=5
b=6
print("Sum is:",a+b)
print("Subtraction is:",a-b)
print("Multiplication is:",a*b)
print("Division is:",a/b)
print(f"Sum is {a+b}")
print(f"SUbtraction is {a-b}")
print (f"multiplication is {a*b}")
print(f"division is {a/b}")

name Jaskaran Singh
Age 12
Region Punjab
Maritalstatus Unmarried
Primary_Education Mohali
Hobbies Landscaping,Reading_books
Sum is: 11
Subtraction is: -1
Multiplication is: 30
Division is: 0.8333333333333334
Sum is 11
SUbtraction is -1
multiplication is 30
division is 0.8333333333333334

In [ ]:
Item_1="Cycle"
Price_Of_Item_1=10000
Item_2="Car"
Price_Of_Item_2=100000
Item_3="Truck"
Price_Of_Item_3=50000

print("Total_Expenses",Total_Expenses)
print("Price_Of_Item_1",Price_Of_Item_1)
print("Price_Of_Item_2",Price_Of_Item_2)
print("Price_Of_Item_3",Price_Of_Item_3)
Total_Expenses=Price_Of_Item_1+Price_Of_Item_2+Price_Of_Item_3
Discount_Percent=20
Discount=Total_Expenses*Discount_Percent/100
print("Discount",Discount)
Payable_Bill=Total_Expenses-Discount
print("Payable_Bill",Payable_Bill)

Total_Expenses 160000
Price_Of_Item_1 10000
Price_Of_Item_2 100000
Price_Of_Item_3 50000
Discount 32000.0
Payable_Bill 128000.0

In [ ]:
Sta1="Pencil"
Price_Of_Sta1=22
Sta2="Pen"
Price_Of_Sta2=30
Sta3="Eraser"
Price_Of_Sta3=34
print("Price_Of_Sta1",Price_Of_Sta1)
print("Price_Of_Sta2",Price_Of_Sta2)
print("Price_Of_Sta3",Price_Of_Sta3)
Total_Price=Price_Of_Sta1+Price_Of_Sta2+Price_Of_Sta3
print("Total_Price",Total_Price)
Discount_Percent=3
Total_Discount=Total_Price*3/100
print("Total_Discount",Total_Discount)
Price_Payable=Total_Price-Total_Discount
print("Price_Payable",Price_Payable)

Price_Of_Sta1 22
Price_Of_Sta2 30
Price_Of_Sta3 34
Total_Price 86
Total_Discount 2.58
Price_Payable 83.42

In [ ]:
Principal=1000
print("Principal",Principal)
Rate=4
print("Rate",Rate)
time=12
print("time",time)
Simple_Interest=Principal*Rate*time/100
print("Simple_Interest",Simple_Interest)
Principal=int(input("Enter_The_Principal_Amount"))
Rate=int(input("Enter_The_Rate"))
Time=int(input("Enter_The_Timeperiod"))
Simple_Interest=Principal*Rate*Time/100
print("Simple_Interest",Simple_Interest)
Payable_Amount=Principal+Simple_Interest
print("Payable_Amount",Payable_Amount)

Principal 1000
Rate 4
time 12
Simple_Interest 480.0
Enter_The_Principal_Amount1000
Enter_The_Rate12
Enter_The_Timeperiod2
Simple_Interest 240.0
Payable_Amount 1240.0

In [ ]:
print("                                                         Biodata                                  ")
Name=input("Enter_User_Name")
Age=int(input("Enter_User_Age"))
Marital_Status=input("Enter_Marital_Status")
Nationality=input("Enter_Nationality")
Gender=input("Enter_User_Gender")
Date_Of_Birth=int(input("Enter_Date_Of_Birth"))
Hobbies=input("Enter_Your_Hobbies")

                                                         Biodata
Enter_User_NameJaskaran_SIngh
Enter_User_Age27
Enter_Marital_StatusUnmarried
Enter_NationalityIndian
Enter_User_GenderMale
Enter_Date_Of_Birth14_07_1998
Enter_Your_HobbiesLandscaping,Reading_Books

In [ ]:
Sta1=input("Enter_Sta1_Name")
Price_Of_Sta1=int(input("Enter_Sta1_Price"))
Sta2=input("Enter_Sta2_Name")
Price_Of_Sta2=int(input("Enter_Sta2_Price"))
Sta3=input("Enter_Sta3_Name")
Price_Of_Sta3=int(input("Enter_Sta3_Price"))
Total_Price=Price_Of_Sta1+Price_Of_Sta2+Price_Of_Sta3
print("Total_Price",Total_Price)
Discount=int(input("Enter_the_Discounted_Price"))
Discount_Price=Total_Price-Discount
print("Discount_Price",Discount_Price)

Enter_Sta1_NamePen
Enter_Sta1_Price12
Enter_Sta2_NamePencil
Enter_Sta2_Price14
Enter_Sta3_NameEraser
Enter_Sta3_Price14
Total_Price 40
Enter_the_Discounted_Price12
Discount_Price 28

In [ ]:
Number=95
if Number>0:
  print("Number_is_a_Positive_Number")

elif Number<0:
  print("Number_is_a_Negative_Number")
else:
    print("Number_is_Zero")

Number=int(input("Enter_The_Value_Of_Number"))
print("Number",Number)
if Number>0:
  print("Number_Is_Positive")
else:
  print("Number_is_Negative")

Number_is_a_Positive_Number
Enter_The_Value_Of_Number23
Number 23
Number_Is_Positive

In [ ]:
Marks=78
if Marks>90:
  print("A+")
elif Marks>80:
  print("A")
elif Marks>70:
 print("B+")
elif Marks>60:
  print("B")
else:
  print("Fail")

B+

In [ ]:
 Number=40
 if Number%2==0:
  print("Number_is_Even")
 else:
  print("Number_is_odd")

Number_is_Even

In [ ]:
Number=5328650
if Number%5==0:
  print("Number_is_Divisible_By_5")
else:
  print("Number_is_Notdivisible_By_5")

Number_is_Divisible_By_5

In [ ]:
Day="Tuesday"
if Day=="Monday":
  print("Its_Weekday")
elif Day=="Tuesday":
  print("Its_Weekday")
elif Day=="Wednesday":
  print("Its_Weekday")
elif Day=="Thrusday":
  print("Its_Weekday")
elif Day=="Friday":
  print("Its_Weekday")
elif Day=="Saturday":
  print("Its_Weekend")
else:
  print("Its_Weekend")

Day=input("Enter_The_Day")
print("Day",Day)
if Day=="Monday":
  print("Its_Weekday")
elif Day=="Tuesday":
  print("Its_Weekday")
elif Day=="Wednesday":
  print("Its_Weekday")
elif Day=="Thrusday":
  print("Its_Weekday")
elif Day=="Friday":
  print("Its_Weekday")
elif Day=="Saturday":
  print("Its_Weekend")
else:
  print("Its_Weekend")

Its_Weekday
Enter_The_Dayqwwe
Day qwwe
Its_Weekend

In [ ]:
 Day=input("Enter_The_Day")
 print("Day",Day)
 if Day=="Monday" or Day=="Tuesday" or Day=="Wednesday" or Day=="Thrusday" or Day=="Friday":
  print("Its_Weekday")
 elif Day=="Saturday" or Day=="Sunday":
    print("Its_Weekend")
 else:
    print("Invalid_Input_From_User")

CarName=input("Enter_Car_Name")
print("CarName",CarName)
if CarName=="Brezza" or CarName=="Venue" or CarName=="Gurkha":
    print("They_Are-Sub4Metre_Suvs")
elif CarName=="City" or CarName=="Corolla" or CarName=="Ciaz":
      print("They_Are_Sedan")
else:
        print("They_Are_Real_Suvs")

Enter_The_DayMonday
Day Monday
Its_Weekday
Enter_Car_NameBrezza
CarName Brezza
They_Are-Sub4Metre_Suvs

In [ ]:
print("                                             Company's_Trip_To_Goa                                                          ")
Gender=input("Enter_Your_Gender")
print("Gender",Gender)
Age=int(input("Enter_Your_Age"))
print("Age",Age)
if Gender=="Male":
  print("Go_In_Hotel_A")
  if Age>=30:
    print("Go_To_The_Building1")
  else:
      print("Go_To_The_Building2")
elif Gender=="Female":
    print("Go_In_Hotel_B")
    if Age>=30:
      print("Go_To_The_Building1")
    else:
        print("Go_to_the_building2")
else:
      print("Go_Elsewhere")

                                             Company's_Trip_To_Goa
Enter_Your_GenderFemale
Gender Female
Enter_Your_Age56
Age 56
Go_In_Hotel_B
Go_To_The_Building1

In [ ]:
Principal=int(input("Enter_The_Value_Of_Principal"))
print("Principal",Principal)
Rate=int(input("Enter_The_Rate"))
print("Rate",Rate)
Time=int(input("Enter_The_Timeperiod"))
SimpleInterest=Principal*Rate*Time/100
print("SimpleInterest",SimpleInterest)

Enter_The_Value_Of_Principal5000
Principal 5000
Enter_The_Rate5
Rate 5
Enter_The_Timeperiod2
SimpleInterest 500.0

In [ ]:
Principal=int(input("Enter_The_Value_of_Principal"))
print("Principal",Principal)
Rate=int(input("Enter_The_Rate"))
print("Rate",Rate)
T_in_Month=int(input("Enter_T_in_Month"))
print("T_in_Month",T_in_Month)
T_in_days=int(input("Enter_T_in_Days"))
print("T_in_days",T_in_days)
Daytomonth=T_in_days/30
SI=Principal*Rate*T_in_Months/100
SiT=Principal*Rate*Daytomonth/100
Total=SI+SiT
print("Total",Total)

Enter_The_Value_of_Principal5000
Principal 5000
Enter_The_Rate5
Rate 5
Enter_T_in_Month2
T_in_Month 2
Enter_T_in_Days20
T_in_days 20
Total 666.6666666666666

In [ ]:
Year=int(input("Enter_Year"))
print("Year",Year)
if Year%4==0 and Year%100!=0 or Year%400==0:
  print("Its_Leap_Year")
else:
    print("Its_Non_Leap_Year")

Enter_Year2000
Year 2000
Its_Leap_Year

In [ ]:
Principal=int(input("Enter_The_Value"))
print("Principal",Principal)
Rate=int(input("Enter_the_Rate"))
print("Rate",Rate)
Time_In_Months=int(input("Enter_Time_In_Months"))
print("Time_In_Months",Time_In_Months)
Time_In_Days=int(input("Enter_Time_in_Days"))
print("Time_In_Days",Time_In_Days)
Month=input("Enter_The_Month")
print("Month",Month)
Year=int(input("Enter_The_Value_Of_Year"))
print("Year",Year)
if Month=="January" or Month=="March" or Month=="May" or Month=="July" or Month=="August" or Month=="October" or Month=="December":
  days_In_month=31
elif Month=="April" or Month=="June" or Month=="September" or Month=="November":
    days_In_month=30
else:
  if Year%4==0 and Year%100!=0 or Year%400==0:
    days_In_Month=29
  else:
      days_In_Month=28

Timeindays=Time_In_Days/days_In_month
SI_For_Month=Principal*Rate*Time_In_Months/100
SI_For_Days=Principal*Rate*Timeindays/100
TotalSI=SI_For_Month+SI_For_Days
print("TotalSI",TotalSI)

Enter_The_Value5000
Principal 5000
Enter_the_Rate3
Rate 3
Enter_Time_In_Months3
Time_In_Months 3
Enter_Time_in_Days20
Time_In_Days 20
Enter_The_MonthFebruary
Month February
Enter_The_Value_Of_Year2024
Year 2024
TotalSI 546.7741935483871

In [ ]:
Number=int(input("Enter_The_Number"))
print("Number",Number)
if Number%25==0 or Number%50==0:
  print("Number_Is_Divisible")
else:
    print("Not_Divisible")
Number2=int(input("Enter_The_Number2"))
print("Number2",Number2)
if Number2%5==0 and Number2%51==0:
  print("Its_Divisible")
else:
    print("Not_Divisible")

Enter_The_Number525
Number 525
Number_Is_Divisible
Enter_The_Number2255
Number2 255
Its_Divisible

In [ ]:
Number=int(input("Enter_Number"))
print("Number",Number)
if Number%1==0 or Numb

In [ ]:
Direction=input("Enter_The_Direction")
print("Direction",Direction)
if Direction=="NI":
  print("Close:-SI,EI,WI")
elif Direction=="SI":
    print("Close:-NI,EI,WI")
elif Direction=="WI":
      print("Close:-EI,NI,SI")
else:
        print("Close:-WI,NI,SI")
print("Open_Direction_Is:-NO,SO,EO,WO")

Enter_The_DirectionSI
Direction SI
Close:-NI,EI,WI
Open_Direction_Is:-NO,SO,EO,WO

In [ ]:
Direction=input("Enter_The_Direction")
print("Direction",Direction)
if Direction=="SI":
  print("Close:-WI,R2,R1 and Open:-NO,WO,NI,SO,EO")
elif Direction=="WI":
    print("Close:-NI,SI and Open:-R1,R2,WO,EO,NO")
else:
      print("Stop")

Enter_The_DirectionSI
Direction SI
Close:-WI,R2,R1 and Open:-NO,WO,NI,SO,EO

In [ ]:
print("                                                           Loops         ")
for i in range(10):
  print("Hello")
  for i in range(1,10):
    print(i)
    for jas in range(2,11,2):
      print("Excellent")

                                                           Loops
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent
Hello
1
Excellent
Excellent
Excellent
Excellent
Excellent
2
Excellent
Excellent
Excellent
Excellent
Excellent
3
Excellent
Excellent
Excellent
Excellent
Excellent
4
Excellent
Excellent
Excellent
Excellent
Excellent
5
Excellent
Excellent
Excellent
Excellent
Excellent
6
Excellent
Excellent
Excellent
Excellent
Excellent
7
Excellent
Excellent
Excellent
Excellent
Excellent
8
Excellent
Excellent
Excellent
Excellent
Excellent
9
Excellent
Excellent
Excellent
Excellent
Excellent

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(12,0,-1):
  print(i)

12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(50,9,-2):
  print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10

In [ ]:
print("                                           Even Numbers Between 1-20                    ")
for i in range(2,21,2):
  print(i)

                                           Even Numbers Between 1-20
2
4
6
8
10
12
14
16
18
20

In [ ]:
print("                                     Odd Numbers Between 1-20                           ")
for i in range(1,20,2):
  print(i)

                                     Odd Numbers Between 1-20
1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(5,34,4):
  print(i)

5
9
13
17
21
25
29
33

In [ ]:
for i in range(2,33,6):
  print(i)

2
8
14
20
26
32

In [ ]:
for i in range(3,72,17):
  print(i)

3
20
37
54
71

In [ ]:
for i in range(1,21):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
Sum=0
for i in range (1,11):
  Sum=Sum+i
  print(Sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
Sum=0
for i in range(1,101):
  Sum=Sum+i
print(Sum)

5050

In [ ]:
Sum=0
for i in range(1,100,2):
  Sum=Sum+i
  print(Sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [ ]:
Sum=0
for i in range(2,100,2):
  Sum=Sum+i
  print(Sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450

In [ ]:
Sum=0
for i in range(2,19,4):
  Sum=Sum+i
  print(Sum)

2
8
18
32
50

In [ ]:
Sum=0
for i in range(8,24,3):
  Sum=Sum+i
  print(Sum)

8
19
33
50
70
93

In [ ]:
Multiply=1
for i in range(1,6):
  Multiply=Multiply*i
print(Multiply)

120

In [ ]:
n=int(input("Enter_The_Value"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)
print(f"factorial of {n} is:5040")

Enter_The_Value5
120
factorial of 5 is:5040

In [ ]:
fact=1
Sum=0
for i in range(1,6):
  fact=fact*i
  Sum=Sum+fact
print(Sum)

153

In [ ]:
Sum=0
for i in range(2,31,2):
  Sum=Sum+i
  print(Sum)
fact=1
for i in range(1,6):
  fact=fact*1
  print(fact)
  Sum=

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
1
1
1
1
1

In [ ]:

Sum=0
Mult=1
for i in range(1,6):
  Mult=Mult*i
  if i%2!=0:
    Sum=Sum+Mult
    print(Sum)

1
7
127

In [ ]:

Sum=0
for i in range(1,6,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j


Sum=Sum+fact
print(Sum)

120

In [ ]:
Sum=0
for i in range(2,7,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
Sum=Sum+fact
print(Sum)

720

In [ ]:
Sum=0
fact=1
for i in range(2,7):
  fact=fact*i
  if i%2==0:
   Sum=Sum+fact
  print(Sum)

2
2
26
26
746

In [ ]:
Sum=0
fact=1
for i in range(1,7):
  fact=fact*i
  if i%2==0:
    Sum=Sum+fact
    print(Sum)

2
26
746

In [ ]:
Sum=0
fact=1
for i in range(2,11):
  fact=fact*i
  if i%4==2:
   Sum=Sum+fact
print(Sum)

3629522

In [ ]:
Sum=0
for i in range(2,11,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  Sum=Sum+fact
print(Sum)

3629522

In [ ]:
Sum=0
fact=1
for i in range(1,14):
  fact=fact*i
  if i%5==3:
    Sum=Sum+fact
  print(Sum)

0
0
6
6
6
6
6
40326
40326
40326
40326
40326
6227061126

In [ ]:
Sum=0
for i in range(3,14,5):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  Sum=Sum+fact
print(Sum)

6227061126

In [ ]:
a=20
b=50
for i in range(1,21):
  if a%i==0 and b%i==0:
    HCF=i
print(HCF)
LCM=a*b/HCF
print(LCM)

10
100.0

In [ ]:
a=961
b=403
for i in range(1,404):
  if a%i==0 and b%i==0:
    HCF=i
print(HCF)
LCM=a*b/HCF
print(LCM)

31
12493.0

In [ ]:
a=100
b=175
for i in range(1,101):
  if a%i==0 and b%i==0:
    HCF=i

print(HCF)
LCM=a*b/HCF
print(LCM)

25
700.0

In [ ]:
a=20
b=50
for i in range(50,1001):
  if i%a==0 and i%b==0:
    LCM=i
print(LCM)

1000

In [ ]:
a=100
b=175
for i in range(175,17501):
  if i%a==0 and i%b==0:
    LCM=i
print(LCM)

17500

In [ ]:
a=20
b=50
for i in range(1,21):
  if i==10:
      continue
  print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [ ]:
a=20
b=50
for i in range(1,21):
  if i==10:
      continue
  print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1,101):
  if i%5==0:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
a=125
b=130
if i in range(1,126):
  if a%i==0 and b%1==0:
    HCF=i

NameError: name 'i' is not defined

In [ ]:
number=23
is_prime=True
for i in range(2,number):
  if number%i==0:
    is_prime=False
    break
if is_prime:
  print("Number is Prime")
else:
  print("Number is not Prime")

Number is Prime

In [ ]:
number=23
for i in range(2,number):
  if number%i==0:
    print("Its Not Prime")
else:
  print("Its Prime")

Its Prime

In [ ]:
for num in range(1,101):
  for i in range(2,num):
    if num%i==0
    break
else:
  print(num)


     l

In [ ]:
number=27
x=int(number**0.5)+1
for i in range(2,x):
  if number%i==0:
   print("Its Not Prime")
   break
else:
  print("Its Prime")

Its Not Prime

In [ ]:
print("                           Check for negative numbers                                                                        ")
Number=-30
if number<=1:
  continue
else:
    x=int(number**0.5)+1
    for i in range(2,x):
      if number%1==0:
        print("Its Not Prime")
        break
      else:
          print("Its Prime")

                           Check for negative numbers

SyntaxError: 'continue' not properly in loop (ipython-input-1020073195.py, line 4)

In [ ]:
print("                            Check for 1-100             ")

                            Check for 1-100

In [48]:
print("                                           While Loop")
num=10
while num>0:
  print(num)
  num=num-1

                                           While Loop
10
9
8
7
6
5
4
3
2
1

In [49]:
num=0
while num<=20:
 print(num)
 num=num+2

0
2
4
6
8
10
12
14
16
18
20